@font-face {
font-family: AlvaroCondensed;
src: url("AlvaroCondensed.woff") format("woff"), url("AlvaroCondensed.ttf")  format("truetype");
}
@font-face {
font-family: AlvaroCondensed;
src: url("webfont.eot"); /* IE9 Compat Modes */
src: url("webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("webfont.woff") format("woff"), /* Modern Browsers */
        url("webfont.ttf")  format("truetype"), /* Safari, Android, iOS */
        url("webfont.svg#svgFontName") format("svg"); /* Legacy iOS */
}
div {
font-family: Raleway, sans-serif, Arial, Helvetica, AlvaroCondensed;
}

html, body {width: auto!important; overflow-x: hidden!important}


body {
margin: auto 0; /*Remove prebuild browser default CSS*/
font-family: Raleway, sans-serif, Arial, Helvetica, AlvaroCondensed;
display: grid;
background-color: #d0afcf;
font-size: 0.7em; /* Default for the whole page*/
color: rgb(128, 110, 139);
}


/*.zone {
cursor: pointer;
display: inline-block; do not use when grid system 
text-align: center;
color:#FFF;
font-size:2em;
border-radius:4px;
border:1px solid #bbb;
transition: all 0.3s linear;
}

/* HEADER */
header {
display: flexbox;
padding: 20px;
margin: 20px;
margin: 0;
}
header h1 {
    font-family: Raleway,sans-serif, Arial;
    text-transform: uppercase;
    font-size: 2em;
    /* margin-top: -0.1em;
margin-bottom: 0.1em; or line-height: default or 150% */
    color: rgb(240, 221, 241);
}

.active {
font: Raleway;
font-style: italic;
/* font-size: 0.7em; */
}


hr {
border-style: dashed;
border-color:rgb(128, 110, 139);
}

h4 {
text-transform: uppercase;
}




/***********************************************************************
*  COVER
**********************************************************************/
.container {
display: flex;
align-items: center;
justify-content: center;
height: auto; 
/*width: 30rem;*/
padding: 20px;
margin: 20px;
}



/***********************************************************************
*  GRID PANEL
**********************************************************************/
.grid-wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /*Everythin is responsive, it fill 1fr when it is small*/
    grid-template-rows: 1fr;
    /*I want the whole page filled with cards. I have only 6 cards. Is it possible to get rid off the empty space (see red area)
        so when resizing the screen the viewpost and container automatically adjust itself, as soon as the view port take up a fr the empty space is filled with cards */
    justify-items: stretch;
}

.box > canvas {
    width: 100%;
    padding: 60px;
    margin: 20px;
}

.box {
padding: 20px;
margin: 20px;
border-width: 1px 1px 1px;
border-style: dashed;
border-color:rgb(128, 110, 139);

    
}


/* PARTICULAIR GRID */
.one h1 {
font-family: AlvaroCondensed;
font-size: 3em;
/*Keep the same margins in each box*/
margin-top: 0.5em;
margin-bottom: 0.5em;
text-transform: uppercase;
color: rgb(240, 221, 241);
word-break: break-word;
}

.two h1 {
font-family: AlvaroCondensed;
font-size: 3em;
margin-top: 0.5em;
margin-bottom: 0.5em;
word-break: break-word;
text-transform: uppercase;
}

ol li {
margin-bottom: -20px;
    
}
ol{
padding-left: 0;
margin-left: 15px;
}
/* Primary font */


.five h1 {
font-family: AlvaroCondensed;
font-size: 4em;
margin-top: 0.5em;
margin-bottom: 0.5em;
word-break: break-word;
}




/***********************************************************************
*  FOOTER
**********************************************************************/
/*Sticky navigation
.sticky {
position: fixed;
top: 0;
width:100%;
}
*/
.main-nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
}
/*.push {
margin: auto;
}*/

li {
padding: 20px;
}

a {
color: rgb(240, 221, 241);
text-decoration: none;
}


@media only screen and (max-width: 600px) {
.main-nav {
    font-size: 0.5em;
}
}
/*How to?
1. Figure out your layout with story
2. Make it respponsive
3 the resit is fun..
More links:
https://web.dev/responsive-web-design-basics/
watch kevin powel how to make portfolio with a grid https://www.youtube.com/watch?v=plRcoRqLriw&list=PL4-IK0AVhVjPv5tfS82UF_iQgFp4Bl998
centered .container https://stackoverflow.com/questions/36229356/whats-the-equivalent-of-the-container-bootstrap-class-in-purecss-io */
